* {
  margin: 0;
  padding: 0;
  font-family: Open Sans,sans-serif;
}

.body {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: #171941;
  color: #8d94a7;
  line-height: 1.43;
  background-image: url(../img/dots.png);
  background-size: contain;
  overflow: hidden;
}

.container {
    position: relative;
    margin: 2px 80px auto;
    overflow: auto;
    min-height: 300px;
    padding: 0px 40px 20px;
}